DATA CLEANING

In [1]:
import pandas as pd

# Load dataset
rewards = pd.read_csv("/media/RewardsData.csv")

# Quick look
print(rewards.head())
print(rewards.info())
print(rewards.isna().sum())

   User ID  Birthdate           City     State    Zip  Available Points  \
0        1  1/31/1992   Minneapolis    Georgia  55401               300
1        2        NaN   Los Angeles   Colorado  90210               320
2        3  1/11/1990         Merida        AL  97204               330
3        4  4/16/1990  Winston-Salem        NC  27106             10790
4        5  3/24/1994  Winston-Salem        NC  27109               650

   Total Points Earned  Points Spent         Joined On         Last Seen  \
0                  300             0     9/4/2020 0:15  12/16/2021 17:42
1                  320             0   8/19/2020 11:15   4/13/2022 14:28
2                  330             0  10/13/2020 16:20   4/21/2021 10:54
3                14290          3500   8/18/2020 13:21   6/30/2022 22:22
4                  650             0   8/21/2020 11:27  12/30/2020 10:57

                                     Tags
0                             ClassOf2025
1                       ClassOf2025|apple
2                      Freshman|Developer
3         GraduateStudent|admin|MBBvsDuke
4  Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7252 entries, 0 to 7251
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User ID              7252 non-null   int64
 1   Birthdate            1172 non-null   object
 2   City                 330 non-null    object
 3   State                330 non-null    object
 4   Zip                  330 non-null    object
 5   Available Points     7252 non-null   int64
 6   Total Points Earned  7252 non-null   int64
 7   Points Spent         7252 non-null   int64
 8   Joined On            7252 non-null   object
 9   Last Seen            7031 non-null   object
 10  Tags                 7252 non-null   object
dtypes: int64(4), object(7)
memory usage: 623.3+ KB
None
User ID                   0
Birthdate              6080
City                   6922
State                  6922
Zip                    6922
Available Points          0
Total Points Earned       0
Points Spent              0
Joined On                 0
Last Seen               221
Tags                      0
dtype: int64

In [2]:
# Ensure numeric columns are properly numeric
numeric_cols = ["Available Points", "Total Points Earned", "Points Spent", "Zip"]

for col in numeric_cols:
    rewards[col] = pd.to_numeric(rewards[col], errors="coerce")

# Check summary for anomalies
print(rewards[numeric_cols].describe())

# Check if any negative values exist
for col in ["Available Points", "Total Points Earned", "Points Spent"]:
    neg = rewards[rewards[col] < 0]
    if not neg.empty:
        print(f"Negative values found in {col}:")
        print(neg[[col]])

       Available Points  Total Points Earned  Points Spent           Zip
count       7252.000000           7252.00000   7252.000000    327.000000
mean        1406.701737           1596.89203    191.383067  29624.162080
std         2031.637229           2531.73693   1223.108659  17158.767414
min            0.000000            100.00000      0.000000    969.000000
25%          400.000000            400.00000      0.000000  27101.000000
50%          735.000000            800.00000      0.000000  27106.000000
75%         1550.000000           1710.00000      0.000000  28189.000000
max        52165.000000          59525.00000  57800.000000  97204.000000

In [3]:
# Fill Zip missing values as "Unknown"
rewards["Zip"] = rewards["Zip"].fillna(-1).astype(int)  # -1 as placeholder for Unknown

# Check if Available Points match Total Earned - Spent (consistency check)
rewards["Points_Check"] = rewards["Total Points Earned"] - rewards["Points Spent"]

inconsistent = rewards[rewards["Available Points"] != rewards["Points_Check"]]
print("Inconsistent rows between Available Points and Earned-Spent:")
print(inconsistent.head())

Inconsistent rows between Available Points and Earned-Spent:
      User ID   Birthdate     City State    Zip  Available Points  \
128       129         NaN  Jackson    MS  39211              4430
129       130         NaN      NaN   NaN     -1               550
130       131         NaN      NaN   NaN     -1              6125
1246     1246         NaN      NaN   NaN     -1               750
1247     1247  10/15/1999      NaN   NaN     -1             10790

      Total Points Earned  Points Spent        Joined On         Last Seen  \
128                  4330           100    9/8/2020 0:25    4/1/2022 20:32
129                   450             0    9/8/2020 2:14  11/30/2021 18:19
130                  6925          1000    9/8/2020 7:26   4/19/2022 15:53
1246                  350             0  9/26/2020 11:09    3/2/2022 19:50
1247                23240         12750  9/26/2020 12:15     7/1/2022 0:44

                                       Tags  Points_Check
128                             ClassOf2023          4230
129                     ClassOf2024|Student           450
130                   ClassOf2023|MBBvsDuke          5925
1246                        GraduateStudent           350
1247  ClassOf2022|MBBvsDuke|GraduateStudent         10490

In [4]:
# Add a consistency flag
rewards["Points_Consistent"] = rewards["Available Points"] == rewards["Points_Check"]

# Count inconsistent rows
print("Inconsistent count:", (~rewards["Points_Consistent"]).sum())

# Show sample inconsistent rows
print(rewards[~rewards["Points_Consistent"]].head())

Inconsistent count: 14
      User ID   Birthdate     City State    Zip  Available Points  \
128       129         NaN  Jackson    MS  39211              4430
129       130         NaN      NaN   NaN     -1               550
130       131         NaN      NaN   NaN     -1              6125
1246     1246         NaN      NaN   NaN     -1               750
1247     1247  10/15/1999      NaN   NaN     -1             10790

      Total Points Earned  Points Spent        Joined On         Last Seen  \
128                  4330           100    9/8/2020 0:25    4/1/2022 20:32
129                   450             0    9/8/2020 2:14  11/30/2021 18:19
130                  6925          1000    9/8/2020 7:26   4/19/2022 15:53
1246                  350             0  9/26/2020 11:09    3/2/2022 19:50
1247                23240         12750  9/26/2020 12:15     7/1/2022 0:44

                                       Tags  Points_Check  Points_Consistent
128                             ClassOf2023          4230              False
129                     ClassOf2024|Student           450              False
130                   ClassOf2023|MBBvsDuke          5925              False
1246                        GraduateStudent           350              False
1247  ClassOf2022|MBBvsDuke|GraduateStudent         10490              False

In [5]:
# Overwrite Available Points with Earned - Spent
rewards.loc[~rewards["Points_Consistent"], "Available Points"] = \
    rewards.loc[~rewards["Points_Consistent"], "Points_Check"]

print("Corrected Available Points for all inconsistent rows.")

Corrected Available Points for all inconsistent rows.

In [6]:
#  Normalize City and State
for col in ["City", "State"]:
    rewards[col] = rewards[col].astype(str).str.strip().str.lower()
    rewards[col] = rewards[col].replace({"nan": "unknown", "": "unknown"})

# Clean Tags (multi-label text)
import re

def clean_tags(x):
    if pd.isna(x) or x.strip() == "":
        return "unknown"
    x = re.sub(r"[^a-zA-Z0-9| ]", "", x)  # remove special chars/emojis
    x = x.lower().strip()
    return x if x else "unknown"

rewards["Tags"] = rewards["Tags"].apply(clean_tags)

# Quick check
print(rewards[["City","State","Tags"]].head(10))

            City     State                                               Tags
0    minneapolis   georgia                                        classof2025
1    los angeles  colorado                                  classof2025|apple
2         merida        al                                 freshman|developer
3  winston-salem        nc                    graduatestudent|admin|mbbvsduke
4  winston-salem        nc             student|nobsbvsndgame3|nobsbvsndgame3a
5              g        al                              graduatestudent|admin
6        unknown   unknown                                        classof2025
7        unknown   unknown                                   classof2022|21dz
8        unknown   unknown  student|senior|driveinncsu|classificationpts|1...
9  winston salem        nc                                    graduatestudent

In [7]:
#  Replace common variants
city_corrections = {
    "winston salem": "winston-salem",
    "g": "unknown"  # clearly garbage entry
}

rewards["City"] = rewards["City"].replace(city_corrections)

# State abbreviation normalization (optional)
# Example: 'nc' -> 'north carolina'
state_map = {
    "nc": "north carolina",
    "al": "alabama",
    "ms": "mississippi",
    "ga": "georgia",
    "unknown": "unknown"
}
rewards["State"] = rewards["State"].map(state_map).fillna(rewards["State"])

# Check cleaned City/State sample
print(rewards[["City","State"]].drop_duplicates().head(20))

               City                 State
0       minneapolis               georgia
1       los angeles              colorado
2            merida               alabama
3     winston-salem        north carolina
5           unknown               alabama
6           unknown               unknown
14      thomasville        north carolina
18        goldsboro        north carolina
30          raleigh        north carolina
46       midlothian                    va
53         bethesda              maryland
74     jacksonville                    fl
91           durham        north carolina
92        charlotte        north carolina
94          orleans                    ma
95           darien                    ct
96       washington  district of columbia
123      rocky hill                    ct
128         jackson           mississippi
145  kenneth square                    pa

In [8]:
# Convert to datetime
date_cols = ["Birthdate", "Joined On", "Last Seen"]
for col in date_cols:
    rewards[col] = pd.to_datetime(rewards[col], errors="coerce")

#  Handle missing Birthdate (~84% missing)
#  keep NaT or fill with median/mode date
birthdate_mode = rewards["Birthdate"].mode()[0]
rewards["Birthdate"].fillna(birthdate_mode, inplace=True)

#  Handle missing Last Seen (~3%)
# Fill missing with Joined On
rewards["Last Seen"].fillna(rewards["Joined On"], inplace=True)

# Quick check
print(rewards[date_cols].head(10))
print(rewards[date_cols].isna().sum())

   Birthdate           Joined On           Last Seen
0 1992-01-31 2020-09-04 00:15:00 2021-12-16 17:42:00
1 1999-12-15 2020-08-19 11:15:00 2022-04-13 14:28:00
2 1990-01-11 2020-10-13 16:20:00 2021-04-21 10:54:00
3 1990-04-16 2020-08-18 13:21:00 2022-06-30 22:22:00
4 1994-03-24 2020-08-21 11:27:00 2020-12-30 10:57:00
5 1995-10-09 2020-08-18 14:28:00 2022-06-08 23:55:00
6 1995-09-22 2020-08-21 10:23:00 2022-04-27 16:27:00
7 1999-12-15 2020-08-22 13:53:00 2022-03-31 01:56:00
8 1999-12-15 2020-08-22 14:03:00 2021-10-10 16:05:00
9 1999-07-20 2020-08-22 14:42:00 2022-04-09 14:10:00
Birthdate    0
Joined On    0
Last Seen    0
dtype: int64

/tmp/ipython-input-3828896951.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rewards["Birthdate"].fillna(birthdate_mode, inplace=True)
/tmp/ipython-input-3828896951.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rewards["Last Seen"].fillna(rewards["Joined On"], inplace=True)

TRANSFORMATION

In [9]:
import numpy as np
from sklearn.preprocessing import StandardScaler

#  Log transformation (add 1 to avoid log(0))
rewards["AvailablePoints_log"] = np.log1p(rewards["Available Points"])
rewards["TotalPoints_log"] = np.log1p(rewards["Total Points Earned"])
rewards["PointsSpent_log"] = np.log1p(rewards["Points Spent"])

# Square root transformation
rewards["AvailablePoints_sqrt"] = np.sqrt(rewards["Available Points"])
rewards["TotalPoints_sqrt"] = np.sqrt(rewards["Total Points Earned"])
rewards["PointsSpent_sqrt"] = np.sqrt(rewards["Points Spent"])

# Standardization (z-score)
scaler = StandardScaler()
rewards[["AvailablePoints_z","TotalPoints_z","PointsSpent_z"]] = scaler.fit_transform(
    rewards[["Available Points","Total Points Earned","Points Spent"]]
)

# Quick check
print(rewards[["Available Points","AvailablePoints_log","AvailablePoints_sqrt","AvailablePoints_z"]].head())

   Available Points  AvailablePoints_log  AvailablePoints_sqrt  \
0               300             5.707110             17.320508
1               320             5.771441             17.888544
2               330             5.802118             18.165902
3             10790             9.286468            103.874925
4               650             6.478510             25.495098

   AvailablePoints_z
0          -0.544352
1          -0.534504
2          -0.529580
3           4.620921
4          -0.372012

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

FEATURE ENGINEERING

In [10]:
# 1. Age (years)
rewards["Age"] = (pd.Timestamp.today() - rewards["Birthdate"]).dt.days // 365

# 2. Tenure (days since joined)
rewards["Tenure_Days"] = (pd.Timestamp.today() - rewards["Joined On"]).dt.days

# 3. Recency / Days since last seen
rewards["Days_Since_Last_Seen"] = (pd.Timestamp.today() - rewards["Last Seen"]).dt.days

# 4. Points spent ratio
rewards["Points_Spent_Ratio"] = rewards["Points Spent"] / rewards["Total Points Earned"]

# 5. Tags: split multi-label into list
rewards["Tag_List"] = rewards["Tags"].str.split("|")

# Quick check
print(rewards[["Age","Tenure_Days","Days_Since_Last_Seen","Points_Spent_Ratio","Tag_List"]].head())

   Age  Tenure_Days  Days_Since_Last_Seen  Points_Spent_Ratio  \
0   33         1844                  1375            0.000000
1   25         1859                  1257            0.000000
2   35         1804                  1614            0.000000
3   35         1860                  1179            0.244927
4   31         1857                  1726            0.000000

                                     Tag_List
0                               [classof2025]
1                        [classof2025, apple]
2                       [freshman, developer]
3         [graduatestudent, admin, mbbvsduke]
4  [student, nobsbvsndgame3, nobsbvsndgame3a]

In [13]:
rewards.head()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,...,TotalPoints_sqrt,PointsSpent_sqrt,AvailablePoints_z,TotalPoints_z,PointsSpent_z,Age,Tenure_Days,Days_Since_Last_Seen,Points_Spent_Ratio,Tag_List
0,1,1992-01-31,minneapolis,georgia,55401,300,300,0,2020-09-04 00:15:00,2021-12-16 17:42:00,...,17.320508,0.000000,-0.544352,-0.512289,-0.156483,33,1844,1375,0.000000,[classof2025]
1,2,1999-12-15,los angeles,colorado,90210,320,320,0,2020-08-19 11:15:00,2022-04-13 14:28:00,...,17.888544,0.000000,-0.534504,-0.504389,-0.156483,25,1859,1257,0.000000,"[classof2025, apple]"
2,3,1990-01-11,merida,alabama,97204,330,330,0,2020-10-13 16:20:00,2021-04-21 10:54:00,...,18.165902,0.000000,-0.529580,-0.500439,-0.156483,35,1804,1614,0.000000,"[freshman, developer]"
3,4,1990-04-16,winston-salem,north carolina,27106,10790,14290,3500,2020-08-18 13:21:00,2022-06-30 22:22:00,...,119.540788,59.160798,4.620921,5.013942,2.705275,35,1860,1179,0.244927,"[graduatestudent, admin, mbbvsduke]"
4,5,1994-03-24,winston-salem,north carolina,27109,650,650,0,2020-08-21 11:27:00,2020-12-30 10:57:00,...,25.495098,0.000000,-0.372012,-0.374035,-0.156483,31,1857,1726,0.000000,"[student, nobsbvsndgame3, nobsbvsndgame3a]"

In [14]:
# Save munged dataset
output_path = "/media/RewardsData_Wrangled.csv"
rewards.to_csv(output_path, index=False)

print(f"Wrangled dataset saved at {output_path}")

Wrangled dataset saved at /media/RewardsData_Wrangled.csv

# Rewards Dataset Wrangling Summary

## Original Dataset

The dataset initially contained **7,252 user records** with the following fields:

- **Identifiers & Demographics:** `User ID`, `Birthdate`, `City`, `State`, `Zip`  
- **Engagement Metrics:** `Available Points`, `Total Points Earned`, `Points Spent`  
- **Timestamps:** `Joined On`, `Last Seen`  
- **Categorical Labels:** `Tags`  

### Issues Observed

**Missing Values:**
- `Birthdate` missing in ~84% of rows  
- `City`, `State`, `Zip` missing in ~95% of rows  
- `Last Seen` missing in ~3% of rows  

**Numeric Inconsistencies:**
- 14 rows had `Available Points` not matching `Total Points Earned – Points Spent`  

**Categorical Issues:**
- `City` and `State` contained typos, inconsistent spellings, and mixed case  
- `Tags` contained multi-label strings with inconsistent separators and extra characters  

**Datetime Issues:**
- Mixed formats, string type instead of proper datetime  
- Missing values in `Birthdate` and `Last Seen`  

---

## Wrangling & Transformation Steps

We applied a systematic cleaning, transformation, and feature engineering process:

### 1. Numeric Cleaning
- Converted all numeric columns to proper numeric types  
- Fixed inconsistencies in `Available Points` by recalculating it from `Total Points Earned – Points Spent`  
- Checked for negative or illogical values  

### 2. Categorical Cleaning
- Normalized `City` and `State` to lowercase  
- Replaced missing or garbage values with `"unknown"`  
- Corrected common variants (e.g., `"winston salem"` → `"winston-salem"`)  
- Standardized `Tags` by removing special characters and splitting multi-labels into lists  

### 3. Datetime Cleaning
- Converted `Birthdate`, `Joined On`, and `Last Seen` to proper datetime types  
- Filled missing `Birthdate` with the mode and `Last Seen` with `Joined On` when missing  

### 4. Numeric Transformations
- Applied log (`log1p`) and square root transformations to skewed numeric columns  
- Standardized values using z-score normalization for modeling readiness  

### 5. Feature Engineering
- Derived `Age` from `Birthdate`  
- Calculated `Tenure_Days` (days since joining) and `Days_Since_Last_Seen` (recency)  
- Created `Points_Spent_Ratio` as a proportion of total points spent  
- Split multi-label `Tags` into list format for segmentation or filtering  

---

## Benefits of Wrangling

### Data Quality & Consistency
- Missing, inconsistent, or misformatted data has been corrected  
- Numeric fields now follow logical rules and are transformation-ready  

### Analysis-Ready
- Age, tenure, recency, and point ratios allow behavioral analysis and segmentation  
- Cleaned categorical fields enable grouping, filtering, and tagging analysis  

### Model-Ready
- Standardized numeric columns (log, sqrt, z-score) make the dataset ready for statistical modeling or machine learning  
- Derived features provide meaningful inputs for predictive modeling (e.g., churn prediction, engagement scoring)  

### Usability
- Can be used for loyalty program analytics, customer segmentation, retention studies, or personalized marketing  
- Enables temporal analysis with proper datetime fields  
- Ready for visualization, clustering, or further feature engineering  

---

## Summary

**Before:**  
The dataset was messy, inconsistent, with missing values, misformatted fields, and unreliable numeric data  

**After:**  
- Fully cleaned and normalized  
- Numeric fields corrected and transformed  
- Categorical fields standardized  
- Datetime fields properly formatted  
- Derived features added for deeper insights  

**Impact:**  
This wrangled dataset is **analysis-ready, modeling-ready, and suitable for operational and strategic decision-making**